<!DOCTYPE html>

<head>
<meta charset="utf-8" />
{% if owner_name %}
   <title>{{owner_name}}的家庭控制中心</title>
{% else %}
   <title>你的家庭控制中心</title>
{% endif %}
</head>

<body>
   <h1>欢迎来到{{owner_name}}的家</h1>
     
   <form method="post">
      <input name="device_name" type="text"></input>
      <input name="control_type" type="checkbox" value="switch">开关</input>
      <input name="control_type" type="checkbox" value="switch&slider">开关和滑动条</input>
      <input name="button" type="submit" value="添加设备"></input>
      <input name="button" type="submit" value="删除设备"></input>
      <hr />
      {% for device in device_list_.keys() %}
         <li><input name="button" type="submit" value="{{device}}"></input></li>
      {% endfor %}
   </form>
</body>

</html>
