<!DOCTYPE html>

<head>
<meta charset="utf-8" />
{% if home_name %}
   <title>{{home_name}}的家庭控制中心</title>
{% else %}
   <title>你的家庭控制中心</title>
{% endif %}
</head>

<body>
   <h1>欢迎来到家庭控制中心</h1>
   
   <form method="post">
      <input name="room_name" type="text"></input>
      <input name="button" type="submit" value="添加房间"></input>
      <input name="button" type="submit" value="删除房间"></input>
      <hr />
      {% for room_name in room_list_.keys() %}
         <li><input name="button" type="submit" value="{{room_name}}"></input></li>
      {% endfor %}
   </form>
</body>

</html>
